certifi==2019.11.28
click==7.1.1
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
numpy==1.18.2
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
Werkzeug==1.0.1
wincertstore==0.2
requests==2.22.0
flask-heroku==0.1.9
joblib==0.14.1
nltk==3.4.5
sklearn==0.0