body{
    background-image: url('./resources/newspaper2.jpg');
    /* background-image: url('./resources/newspaper3.png'); */
    background-color: #F7F1DB;
    background-size: cover;
}

.container {
    background-color: #F7F1DB;
    border: 0.25em #9a8562 solid;
    padding-bottom: 2vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: Times, serif;
}

h4{
    text-decoration: underline;
}

.nav-link{
    font-size: 1.25em;
}

.navbar{
    background-color: #F1E2C4;
    margin-bottom: 2vh;
    font-family: serif;
    border-bottom: 0.25em #9a8562 double;
}

p{
    font-size: 1.25em;
}



.mobilechart{
    display: none;
}

@media (max-width:992px){
    .mobilechart{
        display: block;
        max-width: 100%;
    }
    .chart{
        display: none;
    }
}