body{
    background-image: url('./resources/newspaper2.jpg');
    background-color: #F7F1DB;
    background-size: cover;
}

.container {
    background-color: #F7F1DB;
    padding-bottom: 2vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: Times, serif;
}

.navbar{
    background-color: #F1E2C4;
    margin-bottom: 2vh;
    font-family: serif;
}