<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Media Bias</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/Index_Style.css">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Media Bias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item">
                    <a class="nav-link" href="sitemap">Site Map</a></li>            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="headers">DW NOMINATE</h2>
                <div id="dw"></div> 
                <p>While the Liberal-Conservative Spectrum is familiar to most,
                    the Y-Axis "Inter-Party Differences Spectrum" is not.
                    This spectrum aims to scale the differences between members of 
                    the same party. 
                </p>
                <p>On the Democratic-Side, the higher side of the Y-Axis is
                    populated by the Suburban Swing State Democrats like Elisa
                    Slotkin and Lauren Underwood. The lower side consists of 
                    the Leftist side of the party like Alexandria Ocasio-Cortez
                    and Rashida Tlaib.
                </p>
                <p>
                    On the Republican-Side, the lower side tends to be more
                    Libertarian featuring Justin Amash (pre-independence) and 
                    Thomas Massie. On the higher side... Mitt Romney and Martha
                    Roby.
                </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="headers">All Media: DW NOMINATE</h2>
                <div id="media_dw"></div> 
                <p>Words
                </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="headers">Media Organizations of Note: DW NOMINATE</h2>
                <div id="media_dw_focused"></div> 
                <p>Words
                </p>
                </div>
            </div>
        </div>
    </div>
</body>
    <br>
    <footer>
        <p class="copyright">
            &copy; Copyright Coding Bootcamp 2020
        </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <!-- <script src = "data/comm_dist.json"></script>
    <script src = "data/avg_hr_rides.json"></script>
    <script src = "data/trip_count.json"></script> -->
    <script src="static/js/dw_nom.js"></script>
    <script src="../static/js/dw_nom.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>