<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Media Bias</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="static/css/mediabias.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Media Bias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a></li>
            <li class="nav-item">
                <a class="nav-link" href="ranking">Ranking</a></li>
            <li class="nav-item active">
                <a class="nav-link" href="classification">Classifications<span class="sr-only">(current)</span></a></li>
            <li class="nav-item">
                <a class="nav-link" href="methodology">Methodology</a></li>
            <li class="nav-item">
                <a class="nav-link" href="mlmodels">ML Models</a></li>
            <li class="nav-item">
              <a class="nav-link" href="database">Search Media Scores</a></li>
            <li class="nav-item">
                <a class="nav-link" href="sitemap">Site Map</a></li>
        </ul>
        </div>
    </nav>

    
<div class='container'>
<h2>Classifications</h2>
<img style="border: 0.25em black solid;" src='static/images/5class.png'>
<p>Using the table below, we use sklearn's K-Nearest Neighbor classifier to label the organizations below as left, left-leaning, moderate, right-leaning and right.
  For more information, see our <a href="methodology">methodology</a>!
</p>
<table border="1" class="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Site</th>
      <th>nominate_dim1</th>
      <th>nominate_dim2</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>www.motherjones.com</td>
      <td>-0.465</td>
      <td>-0.195</td>
      <td>Left</td>
    </tr>
    <tr>
      <th>1</th>
      <td>theintercept.com</td>
      <td>-0.454</td>
      <td>-0.284</td>
      <td>Left</td>
    </tr>
    <tr>
      <th>2</th>
      <td>www.vox.com</td>
      <td>-0.434</td>
      <td>-0.176</td>
      <td>Left</td>
    </tr>
    <tr>
      <th>3</th>
      <td>www.huffingtonpost.com</td>
      <td>-0.426</td>
      <td>-0.181</td>
      <td>Left</td>
    </tr>
    <tr>
      <th>4</th>
      <td>thinkprogress.org</td>
      <td>-0.422</td>
      <td>-0.201</td>
      <td>Left</td>
    </tr>
    <tr>
      <th>5</th>
      <td>slate.com</td>
      <td>-0.421</td>
      <td>-0.242</td>
      <td>Left</td>
    </tr>
    <tr>
      <th>6</th>
      <td>www.nydailynews.com</td>
      <td>-0.404</td>
      <td>-0.212</td>
      <td>Left</td>
    </tr>
    <tr>
      <th>7</th>
      <td>www.msnbc.com</td>
      <td>-0.387</td>
      <td>-0.140</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>8</th>
      <td>www.newyorker.com</td>
      <td>-0.360</td>
      <td>-0.179</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>9</th>
      <td>www.npr.org</td>
      <td>-0.347</td>
      <td>-0.129</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>10</th>
      <td>www.buzzfeed.com</td>
      <td>-0.336</td>
      <td>-0.158</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>11</th>
      <td>www.nytimes.com</td>
      <td>-0.326</td>
      <td>-0.164</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>12</th>
      <td>www.nbcnews.com</td>
      <td>-0.324</td>
      <td>-0.131</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>13</th>
      <td>www.pbs.org</td>
      <td>-0.312</td>
      <td>-0.155</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>14</th>
      <td>www.washingtonpost.com</td>
      <td>-0.305</td>
      <td>-0.146</td>
      <td>Left-Leaning</td>
    </tr>
    <tr>
      <th>15</th>
      <td>www.cnn.com</td>
      <td>-0.293</td>
      <td>-0.138</td>
      <td>Moderate</td>
    </tr>
    <tr>
      <th>16</th>
      <td>www.chicagotribune.com</td>
      <td>-0.284</td>
      <td>-0.108</td>
      <td>Moderate</td>
    </tr>
    <tr>
      <th>17</th>
      <td>www.politico.com</td>
      <td>-0.176</td>
      <td>-0.091</td>
      <td>Moderate</td>
    </tr>
    <tr>
      <th>18</th>
      <td>www.axios.com</td>
      <td>-0.098</td>
      <td>-0.090</td>
      <td>Moderate</td>
    </tr>
    <tr>
      <th>19</th>
      <td>thehill.com</td>
      <td>-0.098</td>
      <td>-0.090</td>
      <td>Moderate</td>
    </tr>
    <tr>
      <th>20</th>
      <td>www.usatoday.com</td>
      <td>-0.092</td>
      <td>-0.094</td>
      <td>Moderate</td>
    </tr>
    <tr>
      <th>21</th>
      <td>www.bloomberg.com</td>
      <td>-0.052</td>
      <td>-0.077</td>
      <td>Moderate</td>
    </tr>
    <tr>
      <th>22</th>
      <td>www.apnews.com</td>
      <td>-0.049</td>
      <td>-0.045</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>23</th>
      <td>www.reuters.com</td>
      <td>-0.036</td>
      <td>-0.085</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>24</th>
      <td>apple.news</td>
      <td>0.098</td>
      <td>-0.019</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>25</th>
      <td>nypost.com</td>
      <td>0.234</td>
      <td>0.014</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>26</th>
      <td>www.wsj.com</td>
      <td>0.290</td>
      <td>-0.038</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>27</th>
      <td>www.washingtonexaminer.com</td>
      <td>0.484</td>
      <td>-0.015</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>28</th>
      <td>www.foxbusiness.com</td>
      <td>0.503</td>
      <td>0.066</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>29</th>
      <td>www.foxnews.com</td>
      <td>0.515</td>
      <td>0.051</td>
      <td>Right-Leaning</td>
    </tr>
    <tr>
      <th>30</th>
      <td>reason.com</td>
      <td>0.535</td>
      <td>-0.725</td>
      <td>Right</td>
    </tr>
    <tr>
      <th>31</th>
      <td>freebeacon.com</td>
      <td>0.538</td>
      <td>-0.015</td>
      <td>Right</td>
    </tr>
    <tr>
      <th>32</th>
      <td>www.nationalreview.com</td>
      <td>0.545</td>
      <td>-0.019</td>
      <td>Right</td>
    </tr>
    <tr>
      <th>33</th>
      <td>thefederalist.com</td>
      <td>0.578</td>
      <td>0.018</td>
      <td>Right</td>
    </tr>
    <tr>
      <th>34</th>
      <td>www.dailywire.com</td>
      <td>0.605</td>
      <td>-0.026</td>
      <td>Right</td>
    </tr>
    <tr>
      <th>35</th>
      <td>www.breitbart.com</td>
      <td>0.627</td>
      <td>-0.100</td>
      <td>Right</td>
    </tr>
    <tr>
      <th>36</th>
      <td>www.conservativereview.com</td>
      <td>0.691</td>
      <td>-0.246</td>
      <td>Right</td>
    </tr>
  </tbody>
</table>
</div>
</body>

<footer>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
<!-- <script src = "data/comm_dist.json"></script>
<script src = "data/avg_hr_rides.json"></script>
<script src = "data/trip_count.json"></script> -->
<script src="static/js/dw_nom.js"></script>
<script src="../static/js/dw_nom.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>