<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Media Bias</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type ="text/css" href="static/css/mediabias.css">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Media Bias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a></li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a></li>
            <li class="nav-item active">
                <a class="nav-link" href="methodology">Methodology<span class="sr-only">(current)</span></a></li>
            <li class="nav-item">
                <a class="nav-link" href="mlmodels">ML Models</a></li>
            <li class="nav-item">
                <a class="nav-link" href="database">Search Media Scores</a></li>
            <li class="nav-item">
                <a class="nav-link" href="sitemap">Site Map</a></li>
        </ul>
        </div>
    </nav>
    <div class='container'>
      <h2>Methodology</h2>
      <p>
        Using DW-NOMINATE scores and a database of congresspersons' tweets, our model assigns a DW-NOMINATE-Equivalent (Media Bias) score to prominent media organizations.</p>
        <p>
        The tweets are filtered into a table with only tweets including domains of our 36 selected news organizations. Those tweets are assigned the DW-NOMINATE score of 
        their associated congressperson. The tweets are then aggregated by domain name and the DW-NOMINATE scores are averaged. This produces the DW-NOMINATE-Equivalent
        score for each news organization.
      </p>
      <p>
        Using the DW-NOMINATE-Equivalent Scores, we assign the organizations into five groups using sklearn's <a href='https://scikit-learn.org/stable/modules/neighbors.html#nearest-neighbors-classification'>
        K-Nearest-Neighbors classification module</a>. The table and classification chart can be <a href="classification">seen here</a>. The five groups are then labeled accordingly.
      </p>
      <h3>Purpose</h3>
      <p>
          There are many claims of media bias in our discourse. With the increasing polarization of our politics, each claim of bias can in turn be claimed to be biased. Therefore,
          subjective claims of bias are inadequate claims of bias. No other project attempts to objectively categorize media bias. Similar projects use votes and editorial judgement
          to approximate an objective categorization of bias. Despite the more formal structure of these projects, they fail to clear the objectivity hurdle as any other subjective
          claim. This project clears this hurdle utilzing the DW-NOMINATE score and two years of congressional tweets. Therefore, this analysis provides substance to the media bias debate.
      </p>
      <h3>Limitations of this Analysis</h3>
      <p>
        This method is a purely objective approach to determining media bias. Therefore, the limitations of this analysis come from the limitations of the objects we analyzed:</p>
        <h4>Twitter</h4>
        <p>Twitter is well known for being more liberal than average. We found that there were far more tweets from Democratic lawmakers than Republicans (38,491 tweets vs 15,826 tweets).
        Since the DW-NOMINATE-Equivalent score is based on an average of all the tweets, and there are more Democratic tweets than Republican tweets, we expect our base model
        to overweight liberal bias.
        </p>
        <p>
        We control for this overweighting in our Neutral Control model. This model simply shifts the DW-NOMINATE-Equivalent score by a neutral domain's Equivalant score. We used the
        calculated score for "www.twitter.com" to make this adjustment. Twitter is the most common domain found in congressional tweets: retweets are considered links to twitter. 
        We do not expect any bias associated with linking to twitter. Therefore, it serves as the most appropriate control score.
        </p>
        <p>Additionally, not all congresspersons tweet at equal frequency. Therefore, this model tends to overweight hyperactive tweeters. </p>

        <h4>DW-NOMINATE</h4>
        <p>
        While the DW-NOMINATE score is widely used in social science, some may not consider the scoring as neutral since it shows the Republican Party as further to the right than 
        the Democratic Party is to the right. This would result in media organizations appearing more conservative than if the parties were equally scaled along the x axis.
        Our method can be applied to alternative scaling scoring systems.
      </p>
      <h3>Resources</h3>

      <p>
      <a href='https://github.com/alexlitel/congresstweets'>Alex Litel's Congressional Tweets</a><br>
      <a href='https://voteview.com/data'>Voteview's DW-NOMINATE Scores</a><br>
      </p>
    <div>


</body>

<footer>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
<!-- <script src = "data/comm_dist.json"></script>
<script src = "data/avg_hr_rides.json"></script>
<script src = "data/trip_count.json"></script> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>